body {
    background-color: antiquewhite;
}

.container {
    background-color: whitesmoke;
}

.col-4 {
    height: 700px;
    overflow-y: scroll;
    background-color: aliceblue;
}
.col-8{
    height: 700px;

}
#msgingColoumn {
  height: 560px;
    overflow-y: scroll;
    background-color: whitesmoke;
}

img{
    width: 60px;
    margin: 10px;
    border-radius: 60px;
    height: 60px;
    /* margin-top: 10px; */
    margin-right: 10px;
}
/* #profileImage{
  margin-top: -30px;
} */
li{
    list-style: none;
    font-size: 20px;
    font-weight: lighter;
    
}
form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }

button{
  border: transparent;
  background-color: transparent;
/* margin-top: 10px; */
}



#messageBar{
  /* margin-top: 600px; */
  background-color: aliceblue;
  
}

.send,#search {
  height: 40px;
  width: 40px;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: black black black transparent;
  border-radius:0 10px 10px 0 ;

}

#txt,#searchInput {
  height: 40px;
  /* width: 60%; */
  background: white;
  color: black;
  border: 1px solid;
  border-color: black transparent black black;
  outline: none;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 10px 0 0 10px;

}
.msgingImg{
  width: 30px;
  height: 30px;
  /* margin-top: -8px; */
}
p{
background-color: white;
padding: 15px;
border-radius: 20px;
}

.msgSend{
  margin-left: 400px;
  /* position: relative; */
  display: flex;
  justify-content:end;
  align-items: center;
  
}
.msgRecieve{
  margin-right: auto;
}
#msgEl li{
  margin-top: 40px;
}





/*                                  profile.html css                                                     */








#profile-img{
  width: 200px;
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
  height: 200px;
}
.profileLabel{
  font-size: 30px;
}



#profileCol{
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
  margin: auto;
  margin-top: 150px;
  
}