body {
    background-color: antiquewhite;
}

.container {
    background-color: whitesmoke;
}

.col-4 {
    height: 800px;
    overflow-y: scroll;
    background-color: aliceblue;
}

.col-8 {
    height: 800px;
    overflow-y: scroll;
    background-color: whitesmoke;
}

img{
    width: 60px;
    border-radius: 60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
}
li{
    list-style: none;
    font-size: 20px;
    font-weight: lighter;
    
}
form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }

button{
  border: transparent;
  background-color: transparent;
  display: block;
}



#messageBar{
  margin-top: 630px;
  background-color: aliceblue;
  
}

.send {
  height: 40px;
  width: 40px;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: black black black transparent;
  border-radius:0 10px 10px 0 ;

}

#txt {
  height: 40px;
  /* width: 60%; */
  background: white;
  color: black;
  border: 1px solid;
  border-color: black transparent black black;
  outline: none;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 10px 0 0 10px;

}
.msgingImg{
  width: 30px;
  height: 30px;
  margin-top: -8px;
}
p{
background-color: white;
padding: 15px;
border-radius: 20px;
}

.msgSend{
  margin-left: 400px;
}
.msgRecieve{
  margin-right: auto;
}
li{
  margin-top: 40px;
}